* {
  margin: 0;
  padding: 0;
}

.notesHeader,
.notesBody,
.notesFooter {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.notesBody {
  margin-top: 20px;
  background-color: #84817a;
  color: #fff;
}

.notesFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #84817a;
}

.Note {
  background-color: #fff;
  padding: 20px;
  color: #000;
  margin-top: 10px;
  list-style: none;
}

.X:hover {
  cursor: pointer;
}

.NoteForm input[type='text'] {
  padding: 20px;
}

.NoteForm input[type='submit'] {
  padding: 20px;
  color: #fff;
  background: #27ae60;
  border-color: #27ae60;
  margin-left: 4px;
}
.NoteForm input[type='submit']:hover {
  background: #27ae5fd5;
}
